.jumbotron {
    font-family: 'Didact Gothic', sans-serif;
}
.navbar {
    font-family: 'Didact Gothic', sans-serif;
}
footer {
    font-family: 'Didact Gothic', sans-serif;
}

.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

.navbar-brand span{
    font-size: 18px;
    padding-left: 5px;
    text-transform: uppercase;
    font-family: 'Viga', sans-serif;
}
.bio p{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
}

.ubah {
    font-family: 'Didact Gothic', sans-serif;
}

.press {
    border-radius: 20px;
}